<h1>productos</h1>
<br/>
{{!-- <label for="id">id: </label><input id="inputId" name="id" type="text"><br/> --}}
<label for="title">titulo: </label><input id="inputTitle" name="title" type="text"><br/>
<label for="description">descripcion:</label><input id="inputDescription" name="description" type="text"><br/>
<label for="price">presio: $</label><input id="inputPrice" name="price" type="text"><br/>
<label for="thumbnail">thumbnail: </label><input id="inputThumbnail" name="thumbnail" type="text"><br/>
<label for="category">category:  </label><input id="inputCategory" name="category" type="text"><br/>
<label for="code">codigo: </label><input id="inputCode" name="code" type="text"><br/>
<label for="stock">stock: </label><input id="inputStock" name="stock" type="text"><br/>

<button id="btnEnviar">enviar</button><br/><br/>
<hr>
<br/>
<label for="id">id del producto a eliminar:</label><input id="inputId" name="id" type="number"><br/>
<p id="error"></p>
<button id="btnBorrar">Borrar</button><br/><br/>
<hr>

<h3>Lista de Productos</h3>

<div id="productos"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>